.Buttons {
  align-self: center;
}

/* copy ID box*/
.middle {
  margin: 1em 0 1em 6em;
  padding: 5px 10px;
}

#yID {
  border-radius: 5px;
}

#yID:hover {
  background-color: var(--action-bg-color);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

#yID:active {
  background-color: #86CA32;
  transition: all .1s ease-in-out;
}

.hide {
  display: none;
}

.show {
  display: auto;
}
