.Buttons {
  align-self: center;
}

@media screen and (max-width: 1690px) {
  .middle {
    margin: 1em 0 1em 5em;
  }
}

@media screen and (min-width: 1691px) {
  .middle {
    margin: 1em 0 1em 5em;
  }
}

/* copy ID box*/
#yID {
  border-radius: 5px;
  padding: 5px 10px;
}

#yID:hover {
  background-color: var(--action-bg-color);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

#yID:active {
  background-color: #86CA32;
  transition: all .1s ease-in-out;
}

.hide {
  display: none;
}

.show {
  display: auto;
}
