.App {
  display: flex;
  text-align: center;
  padding: 2em;
  user-select: none;
}

.inline-board {
  flex-grow: 1;
}

.inline-field {
  /* display flex here for 100% table height*/
  display: flex;
  flex-grow: 7;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
