.App {
  display: flex;
  flex-wrap: wrap-reverse;
  text-align: center;
  padding: 2em;
  user-select: none;
}

.inline-board {
  flex-grow: 1;
}

.inline-field {
  flex-grow: 7;
}

button, input {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;

  padding: 0.35em 1em;
  font-size: 1.1em;
  user-select: none;
  margin: 1em;

  background-color: var(--main-bg-color);
  color: var(--text-color);
}

/* copy ID box*/
#yID:after {
  content: " Copy";
  color: var(--text-color);
  visibility: hidden;
}

#yID:hover:after {
  visibility: visible;
  transition: all .3s ease-in-out;
}

#yID {
  padding: 5px 10px;
  border-radius: 5px;
}

#yID:hover {
  background-color: var(--action-bg-color);
  transition: all .3s ease-in-out;
}

#yID:active {
  background-color: #86CA32;
  transition: all .1s ease-in-out;
}

/* Popup */
.popup {
  bottom: 0;

  position: absolute;
  width: 90%;
}

.error {
  background-color: #FFBABA;
  color: #D8000C;
}

.warn {
  background-color: #FEEFB3;
  color: #9F6000;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.info {
  background-color: #D9EDF7;
  color: #31708F;
}

.popup .popup-box {
  bottom: 0;
  visibility: hidden;

  border-radius: 6px;
  padding: .7em 0;
  position: absolute;
  width: 11em;
}

.popup .show {
  bottom: 5em;
  visibility: visible;
  transition: all .3s ease-in-out;
}

/* Theme */
.theme-toggle {
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 1.5em;
  padding: 15px;
  border-radius: 2em;
}

.theme-toggle:hover {
  transition: background-color .3s ease-in-out;
  background-color: var(--action-bg-color);
}
