.Shipsboard {
  margin-bottom: 2em;
}

.Ship {
  margin-top: 3px;
  /*width: 30%;*/
  display: flex;
  /*border: 1px solid black;*/
}

.Ship > img {
  height: 4em;
  margin: 3px 1em auto 1em;
}

.Ship > p {
  margin: auto 0.5em auto 0;
}

.Indicator {
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.Indicator > img {
  height: 25px;
}
