.Scoreboard {
  display: flex;
  flex-wrap: nowrap;
  max-width: 30em;
  margin: auto;
}

.CounterTab {
  width: 50%;
  margin: 1em .2em;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
}
